// remove logo based on screen size
@media screen and (max-width: 720px) {
  .logo {
    display: hidden;
    opacity: 0;
  }
  .ga-logo {
    display: hidden;
    opacity: 0;
  }
}

// Sass variables
$primary-color: DeepSkyBlue;
$secondary-color: WhiteSmoke;
$fnt-stk: 'Roboto', sans-serif;
$fnt-wt: lighter;

// header section -----------------------------
header {
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logo {
  display: block;
  position: absolute;
  left: 50px;
  top: -2px;
  height: 250px;
}
.ga-logo {
  position: absolute;
  left: 25px;
  top: 80px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 35px helvetica neue, open sans;
  font-weight: lighter;
  color: $primary-color; //aqua;
  text-align: center;
  padding: 80px 50px;
  text-transform: uppercase;
}

// search -----------------------------
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 30px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: space-between;
  width: 600px;
}

label,
input {
  vertical-align: baseline;
  color: white;
}

input[type='search'] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px $fnt-stk;
  font-weight: $fnt-wt;
  text-align: center;
  padding: 0.125em 0.225em;
  width: 85%;
}

input[type='search']:focus {
  color: $primary-color;
  border-color: white;
  outline: none;
}

.button {
  font-size: 20px;
  margin-left: 5px;
  outline: none;
  border: 1px $primary-color;
  border-radius: 10px;
}

form .button:hover {
  font-size: 25px;
  color: $primary-color;
}

// movie item -----------------------------
.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  margin: 10px 10px 25px 10px;

  img[srcset] {
    padding-bottom: 10px;
    height: 300px;
  }
}
.button-container {
  display: flex;
  width: 240px;
  justify-content: space-around;
}
.button-small {
  font-size: 20px;
  font-weight: $fnt-wt;
  color: $primary-color;
  border: none; //1px DeepSkyBlue;
  background-color: transparent;
  &:hover {
    font-size: 25px;
  }
}

// movie container -----------------------------
#movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px, 20px, 20px, 20px;
  padding: 20px;
  height: 100%;
  max-width: 100%;
  color: white;
}

.movie-title {
  text-align: left;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: $fnt-wt;
  padding-bottom: 10px;
  text-align: center;
  width: 200px;
}

// list of movies -----------------------------
ul li {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  text-align: left;
  text-decoration: none;
  font-family: $fnt-stk;
  font-size: 15px;
  list-style: none;
  color: $primary-color;
}

// modal -----------------------------
.modal {
  display: flex;
  position: fixed;
  left: calc(width /2);
  top: 50px;
  z-index: 1000;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000;
}

.modal-1 {
  background: $secondary-color;
  border-radius: 0.5rem;
  padding: 20px;
  width: 600px;

  p {
    font: $fnt-stk;
    font-size: 15px;
    padding-left: 20px;
    display: inline-block;
    color: $primary-color;
  }
}

.info {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 20px;
}

// favorites link -----------------------------
.favorites {
  position: absolute;
  right: 20px;
  font-size: 18px;
  font: $fnt-stk;
  font-weight: $fnt-wt;
  cursor: pointer;
  padding: 10px 20px;
  color: $secondary-color;
  transition: 0.5s;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}
